body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	background-color: black;
	color: lightgreen;

	font-family: "Trebuchet MS";
}

h1 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 55px;
	font-weight: 900;
}

.container {
	margin: 0 auto;
	width: 1024px;
}

.card {
	padding: 15px;
	border: 3px solid white;
	border-radius: 3px;
}

.auth-panel {
	margin:  0 auto;
	max-width: 550px;
}

.stick {
	position: absolute;
	background-color: white;
}
.add {
	margin-left: 20px;
	margin-top: 20px;
	width: 275px;
    padding: 10px;
}


.add:hover {
	border-color: yellow;
	background-color: blue;
	cursor: pointer;
}

.r { 
	position: relative;
	bottom: -35px;
	left:  100px;
	width: 70px;
	height: 10px;
}
.l {
	position: relative;
	top: -5px;
	left: 130px;
	width: 10px;
	height: 70px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.row > fieldset {
	width: calc(50% - 10px);
}