h2 {
	margin-bottom: 20px;
	font-size: 24px;
}

.card__body {
 	padding: 15px;
}

.user-list {
	display: flex;	
}
.user-list__item {
	margin-left: 20px;
	width: 300px; 
display: flex; 
justify-content: space-between; 
transition: 0.8s; 
cursor: pointer; 
}

.user-list__item:hover {
	transition: 0.2s;
	border-color: green;
	cursor: pointer;
}

.user-list__avatar {
	background-size: 180%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.user-list__type {
	margin-bottom: 30px;
}

.user-list__name {
	margin-bottom: 10px;
}